<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.OrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionsServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.TransactionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopByCategoryServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ShopByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyTempPassServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.VerifyTempPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartSingleServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.AddToCartSingleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.QuantityIncDecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInformationServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.EditInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUserServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.OrderUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailUserServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.OrderDetailUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveredServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.DeliveredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsByCategoryServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ProductsByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsByBrandServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ProductsByBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.RefundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.LogOutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopByBrandServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ShopByBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLinkedinServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.LoginLinkedinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSoldOutServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ProductSoldOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ProductsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByNameServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.SearchByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutNowServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.CheckOutNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPendingServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.OrderPendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderShippingServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.OrderShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeliveredServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.OrderDeliveredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderRefundServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.OrderRefundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPendingAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.OrderPendingAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderShippingAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.OrderShippingAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeliveredAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.OrderDeliveredAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderRefundAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.OrderRefundAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundAdminServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.RefundAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.user.NotifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDataServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ChartDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDataOneServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ChartDataOneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrandServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.AddBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDataTwoServlet</servlet-name>
        <servlet-class>com.fpt.prj301.controller.admin.ChartDataTwoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionsServlet</servlet-name>
        <url-pattern>/transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopByCategoryServlet</servlet-name>
        <url-pattern>/shop-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/log-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyTempPassServlet</servlet-name>
        <url-pattern>/verify-temp-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/new-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartSingleServlet</servlet-name>
        <url-pattern>/add-to-cart-single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <url-pattern>/quan-inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInformationServlet</servlet-name>
        <url-pattern>/edit-infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUserServlet</servlet-name>
        <url-pattern>/order-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/buy-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailUserServlet</servlet-name>
        <url-pattern>/order-detail-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveredServlet</servlet-name>
        <url-pattern>/delivered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/login-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsByCategoryServlet</servlet-name>
        <url-pattern>/products-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsByBrandServlet</servlet-name>
        <url-pattern>/products-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/shipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundServlet</servlet-name>
        <url-pattern>/refund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutAdminServlet</servlet-name>
        <url-pattern>/log-out-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopByBrandServlet</servlet-name>
        <url-pattern>/shop-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLinkedinServlet</servlet-name>
        <url-pattern>/login-linkedin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/search-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSoldOutServlet</servlet-name>
        <url-pattern>/product-sold-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListServlet</servlet-name>
        <url-pattern>/product-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByNameServlet</servlet-name>
        <url-pattern>/search-product-name</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutNowServlet</servlet-name>
        <url-pattern>/check-out-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPendingServlet</servlet-name>
        <url-pattern>/order-pending-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderShippingServlet</servlet-name>
        <url-pattern>/order-shipping-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeliveredServlet</servlet-name>
        <url-pattern>/order-delivered-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderRefundServlet</servlet-name>
        <url-pattern>/order-refund-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPendingAdminServlet</servlet-name>
        <url-pattern>/order-pending-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderShippingAdminServlet</servlet-name>
        <url-pattern>/order-shipping-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeliveredAdminServlet</servlet-name>
        <url-pattern>/order-delivered-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderRefundAdminServlet</servlet-name>
        <url-pattern>/order-refund-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundAdminServlet</servlet-name>
        <url-pattern>/refund-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyServlet</servlet-name>
        <url-pattern>/notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDataServlet</servlet-name>
        <url-pattern>/chart-data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDataOneServlet</servlet-name>
        <url-pattern>/chart-data-one</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/add-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrandServlet</servlet-name>
        <url-pattern>/add-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDataTwoServlet</servlet-name>
        <url-pattern>/chart-data-two</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404/404.jsp</location>
    </error-page>
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>com.fpt.prj301.filter.CheckLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/order-user</url-pattern>
        <url-pattern>/buy-now</url-pattern>
        <url-pattern>/check-out</url-pattern>
        <url-pattern>/change-password</url-pattern>
        <url-pattern>/order-detail-user</url-pattern>
        <url-pattern>/views/term-condition/TermsAndConditions.jsp</url-pattern>
        <url-pattern>/views/faqs/FAQ.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CheckLoginAdminFilter</filter-name>
        <filter-class>com.fpt.prj301.filter.CheckLoginAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLoginAdminFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/orders</url-pattern>
        <url-pattern>/users</url-pattern>
        <url-pattern>/transactions</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/products-category</url-pattern>
        <url-pattern>/products-brand</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/update</url-pattern>
        <url-pattern>/order-detail</url-pattern>
    </filter-mapping>
</web-app>
